<!DOCTYPE html>
<html lang="tr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ sehir_adi }} - Şehir Bilgileri</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  </head>
  <body>
    <header>
      <h1>{{ sehir_adi }} - Şehir Bilgileri</h1>
    </header>
    <main>
      <div class="city-data">
        <h2>Hava Kalitesi</h2>
        <p>{{ sehir_bilgileri.hava_kalitesi }}</p>

        <h2>Su Doluluk Oranı</h2>
        <p>{{ sehir_bilgileri.su_doluluk_orani }}</p>
      </div>
    </main>
  </body>
</html> 

<!--<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ sehir_ad }} Detayı</title>
</head>
<body>
    <h1>{{ sehir_ad }} Detayları</h1>
    <p>Burada {{ sehir_ad }} şehri ile ilgili hava kalitesi, su doluluk oranı vb. bilgileri göstereceksiniz.</p>
</body>
</html> -->

<!--<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ sehir_ad }} Detayı</title>
</head>
<body>
    <h1>{{ sehir_ad }} Detayları</h1>
    <p>Hava Kalitesi: {{ sehir_hava_kalitesi }}</p>
    <p>Su Doluluk Oranı: {{ sehir_su_doluluk_orani }}%</p>
</body>
</html>-->


